<!DOCTYPE html>
<html>
    <head>
        <title>My Notebook's Index</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
            <h2>Hi! Welcome to your notebook.</h2>

            <form id="find_notes" action="/" method="POST" class="find_notes">
                <p>Find notes about: </p>
                <input type="text" id="keyword" name="keyword" value="">
                <button type="submit" id="submit_keyword" class="submit_button">Submit</button>
            </form>
            <br>

            <div class="note_list">
                {% if keyword %}
                    <h3>Notes about <em>{{keyword}}</em>:</h3>
                    <table>
                        {% if notes.find_notes(keyword) %}
                            {% for name in notes.find_notes(keyword) %}
                                <tr>
                                    <td><a href="{{url_for('get_note', name=name)}}">{{name}}</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                                <tr>
                                    <td>There were no notes about "{{keyword}}"</td>
                                </tr>
                        {% endif %}
                    </table>
                {% else %}
                    <h3>All notes:</h3>
                    <table>
                        {% for name in notes.list_notes() %}
                            <tr>
                                <td><a href="{{url_for('get_note', name=name)}}">{{name}}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <br>
            <div class="button_container">
                <button id="reset_notes" type="button" onclick="document.getElementById('find_notes').submit() ; " 
                class="outside_button">See all notes</button>
                <button id="add_note" type="button" onclick="window.location.href = '{{add_url}}' ; " 
                class="outside_button">Add a note!</button>
            </div>
        {% endblock %}
    </body>
</html>